# Virtual environment
.venv/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing cache
.pytest_cache/
.coverage
htmlcov/

# MLflow tracking data & artifacts
mlruns/
mlartifacts/
*.db

# OS specific files
.DS_Store
Thumbs.db